@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

h1, h2 {
    margin: 1rem 0;
}
header {
    height: 15vh;
    background-color: rgb(221, 47, 61);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: -1rem;
}

main {
    min-height: 80vh;
    width: 70%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    width: 70vw;
}

footer {
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: rgb(32, 31, 31);
    color: aliceblue;
    padding-right: 2rem;
}

.cardContainer {
    border-color: rgb(56, 56, 56);
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    margin: 1rem 0 1rem 0;
    padding: 2rem;
    width: 65vw;
}

.cardContainer h2 {
    text-align: center;
}

.card {
    border-color: rgb(56, 56, 56);
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    padding: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 25vw;
    text-align: center;
}

.card img {
    width: 50%;
}
ul {
    margin: 2rem;
}
input {
    border-color: rgb(116, 116, 116);
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
}

button {
    background-color: #232323;
    padding: 5px;
    color: aliceblue;
    border-radius: 5px;
}

button:hover {
    background-color: #4c4b4b;
}

.mt-1{
    margin-top: 1rem;
}

.mt-1:hover {
    background-color: rgb(36, 149, 83);
}

.btn-delete {
    background-color: rgb(90, 10, 10);
    cursor: pointer;
}

.btn-delete:hover {
    background-color: rgb(240, 28, 28);
}

.btn-detalle{
    color: rgb(46, 66, 180);
    cursor: pointer;
}

.btn-update {
    color: rgb(36, 149, 83);
    cursor: pointer;
}

.itemCarrito {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 61vw;
    border: 2px solid rgb(36, 149, 83);
    margin-top: 2em;
}

.containerCarrito {
    width: 65vw;
}

.containerCarrito img {
    width: 15%;
}

.containerTitulos {
    display: flex;
    justify-content: space-evenly;
    width: 53.5vw;
}

.botonesFiltros {
    display: flex;
    gap: 4em;
}